body{
    width: 100%;
    background: url(../img/panel.jpg) fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.items h6 a{
    font-size: 14px;
    color: blue;
    
    padding: 8px 5px;
}

.panel-box{
    margin: 250px 0;
}

.field-val{
    font-size: 13px;
}

.user-information{
    text-align: center;
}